{% extends 'base.html' %}
{% load static %}
{% block main %}
        <!-- ======================banner=============================== -->
        <section class="max-w-[1510px] mx-auto">
            <div
                class="flex flex-col justify-center items-center gap-5 lg:gap-[30px] mt-8 md:mt-16 15i:mt-20 px-4 md:px-12">
                <div>
                    <p class=" text-center text-[#262149] text-xs md:text-[16px]">
                        Home - Service - {{ service.service_title }}
                    </p>
                    <p
                        class="text-center text-[#262149] font-bold text-2xl mm:text-3xl md:text-5xl xl:text-7xl 15i:text-[88px] 15i:leading-[92px]">
                        {{ service.service_title }}
                    </p>
                </div>
                <p
                    class=" text-center text-[#262149] text-xs md:text-sm xl:text-[18px] xl:leading-[22px] max-w-[774px] mx-auto">
                    {{ service.short_description }}
                </p>
                <p class="text-[#F76D4A] font-bold md:text-2xl xl:text-[32px] xl:leading-[34px]">
                    Per Image ${{ service.price }}
                </p>
                <a href="{% url 'order' %}" class="w-full flex justify-center">
                    <button
                        class="text-[#262149] font-[500] text-[20px] leading-[21px] py-4 lg:py-[22px] w-full sm:w-[346px] border-[1px] border-[#262149] rounded-[10px] transition-all ease-in-out duration-150 active:scale-95 hover:bg-[#262149] hover:text-white">
                        Let’s Start With Free Trial
                    </button>
                </a>
            </div>
        </section>


        <!-- ======================service details====================== -->
        <section
            class="py-8 md:py-16 xl:py-24 14i:py-40 15i:py-[120px] px-4 md:px-8 xl:px-20 14i:px-32 15i:px-[236px] max-w-[1510px] mx-auto">
            <!-- image -->
            <div
                class="bg-[#CCC8E6] mx-auto rounded-2xl md:rounded-3xl 14i:rounded-[40px] w-full h-[300px] ml:h-[400px] sm:w-[400px] md:w-[500px] md:h-[500px] xl:h-[600px] xl:w-[600px] 14i:w-[750px] 14i:h-[750px] 15i:w-[912px] 15i:h-[912px]">
            <img src="{{ service.cover_image.url }}" alt="{{ service.service_title }}" class="w-full h-full object-cover rounded-2xl md:rounded-3xl 14i:rounded-[40px]">
            </div>
            <!-- description -->
            <div class="space-y-[54px] mt-12 lg:mt-40 14i:mt-20">
                <!-- part 1 -->
                <div class="space-y-[23px]">
                    <!-- title -->
                    <p class="text-[#262149] font-[500] text-xl lg:text-[28px] lg:leading-[30px]">
                        {{ service.service_title }}
                    </p>
                    <!-- body -->
                    <p class="text-[#262149] lg:text-xl">
                        {{ service.details_text_editor|safe }}
                    </p>
                </div>

                <!-- buttons -->
                <div class="flex flex-col md:flex-row gap-[30px]">
                    <a href="{% url 'order' %}">
                        <button
                            class="border-[1px] bg-[#52479E] border-[#52479E] rounded-[10px] font-[500] text-[#FCFCFC] text-[20px] leading-[21px] py-4 lg:py-[22px] w-full md:w-[402px] transition-all ease-in-out duration-150 active:scale-95 hover:bg-white hover:text-[#52479E]">
                            Let’s Start With Free Trial
                        </button>
                    </a>
                    <a href="{% url 'service' %}">
                        <button
                            class="text-[#262149] bg-white font-[500] text-[20px] leading-[21px] py-4 lg:py-[22px] w-full px-8 xl:px-0 xl:w-[185px] border-[1px] border-[#262149] rounded-[10px] transition-all ease-in-out duration-150 active:scale-95 hover:bg-[#262149] hover:text-[#FCFCFC]">
                            Back
                        </button>
                    </a>
                </div>
            </div>
        </section>
{% endblock main %}