{% extends 'base.html' %}
{% load static %}
{% block main %}

    <main class="max-w-[1510px] mx-auto">
        <div
            class="px-4 sm:px-8 md:px-12 lg:px-20 xl:px-24 14i:px-44 15i:px-[214px] py-4 sm:py-8 lg:py-20 15i:py-[110px] space-y-8 md:space-y-12 15i:space-y-20">
            <!-- ------ -->
            <div>
                <p class="text-[32px] lg:text-[56px] lg:leading-[67px] text-[#262149] font-bold">
                    Omniclipper Terms of Service
                </p>
                <p class="text-[18px] lg:text-[28px] font-[500] text-[#262149] mt-[36px]">
                    Omnicclipper provides professional image editing services to clients around the globe. Our range of
                    services includes
                    clipping path, background removal, image masking, photo retouching, and other related tasks. These
                    services are offered
                    through our website, email communication, and other digital platforms
                </p>
            </div>
            <!-- ------- -->
            <div>
                <p class="text-[28px] lg:text-[42px] lg:leading-[54px] text-[#262149] font-bold">
                    Acceptance of Terms and Conditions
                </p>
                <p class="text-[18px] lg:text-[28px] font-[500] text-[#262149] mt-[19px]">
                    By using Omnicclipper's services, you agree to adhere to these terms and conditions. If you disagree
                    with any part of
                    these terms, we kindly ask that you refrain from using our services.
                </p>
            </div>
            <!-- ------- -->
            <div>
                <p class="text-[28px] lg:text-[42px] lg:leading-[54px] text-[#262149] font-bold">
                    Quotes & Orders
                </p>
                <p class="text-[18px] lg:text-[28px] font-[500] text-[#262149] mt-[19px]">
                    We strive to provide accurate quotes that reflect the scope of your project. However, if your order
                    does not match the
                    sample provided in the original quote, Omnicclipper reserves the right to cancel the order and issue
                    a new quote. This
                    ensures that you receive the correct service for your needs. If a different order template or image
                    type is used,
                    Omnicclipper may also issue a new quote. Our goal is to maintain consistent and high-quality
                    service.
                </p>
            </div>
            <!-- ------- -->
            <div>
                <p class="text-[28px] lg:text-[42px] lg:leading-[54px] text-[#262149] font-bold">
                    Quality Assurance
                </p>
                <p class="text-[18px] lg:text-[28px] font-[500] text-[#262149] mt-[19px]">
                    Omnicclipper is committed to delivering high-quality image editing services. If you are not
                    satisfied with our work,
                    please inform us within 24 hours of receiving the final images, and we will work with you to address
                    your concerns.
                </p>
            </div>
            <!-- ------- -->
            <div>
                <p class="text-[28px] lg:text-[42px] lg:leading-[54px] text-[#262149] font-bold">
                    Turnaround Time
                </p>
                <p class="text-[18px] lg:text-[28px] font-[500] text-[#262149] mt-[19px]">
                    We aim to complete all projects within the agreed-upon timeframe. For larger or more complex
                    projects, the turnaround
                    time may vary, and we will communicate any delays to you promptly.
                </p>
            </div>
            <!-- ------- -->
            <div>
                <p class="text-[28px] lg:text-[42px] lg:leading-[54px] text-[#262149] font-bold">
                    Revisions
                </p>
                <p class="text-[18px] lg:text-[28px] font-[500] text-[#262149] mt-[19px]">
                    We offer one complimentary round of revisions to ensure your satisfaction. Additional revisions may
                    incur an extra fee,
                    depending on the nature and extent of the changes required.
                </p>
            </div>
            <!-- ------- -->
            <div>
                <p class="text-[28px] lg:text-[42px] lg:leading-[54px] text-[#262149] font-bold">
                    Payment and Pricing
                </p>
                <p class="text-[18px] lg:text-[28px] font-[500] text-[#262149] mt-[19px]">
                    Our pricing is determined based on factors such as the complexity of the project, the number of
                    images, and the required
                    turnaround time. Omnicclipper reserves the right to modify our pricing at any time without prior
                    notice. Payment is due
                    upon the completion of the project, and we accept payments through PayPal, MasterCard, Visa, and
                    other major credit
                    cards.
                </p>
            </div>
            <!-- ------- -->
            <div>
                <p class="text-[28px] lg:text-[42px] lg:leading-[54px] text-[#262149] font-bold">
                    Refunds and Cancellation
                </p>
                <p class="text-[18px] lg:text-[28px] font-[500] text-[#262149] mt-[19px]">
                    Omnicclipper provides refunds if you are not satisfied with the quality of our work. However,
                    refunds may be limited if
                    the requests exceed the original project scope. Clients can cancel their orders before the project
                    is completed, but a
                    cancellation fee may apply.
                </p>
            </div>
            <!-- ------- -->
            <div>
                <p class="text-[28px] lg:text-[42px] lg:leading-[54px] text-[#262149] font-bold">
                    Intellectual Property and Ownership
                </p>
                <p class="text-[18px] lg:text-[28px] font-[500] text-[#262149] mt-[19px]">
                    We respect your intellectual property rights and do not claim ownership of any images or materials
                    provided to us.
                    However, Omnicclipper reserves the right to use completed projects for promotional purposes, such as
                    showcasing on our
                    website or social media, unless you specifically request otherwise.
                </p>
            </div>
            <!-- ------- -->
            <div>
                <p class="text-[28px] lg:text-[42px] lg:leading-[54px] text-[#262149] font-bold">
                    Confidentiality and Security
                </p>
                <p class="text-[18px] lg:text-[28px] font-[500] text-[#262149] mt-[19px]">
                    Omnicclipper takes the security and confidentiality of your images seriously. We use secure servers
                    and file transfer
                    protocols to ensure your data remains protected at all times
                </p>
            </div>
            <!-- ------- -->
            <div>
                <p class="text-[28px] lg:text-[42px] lg:leading-[54px] text-[#262149] font-bold">
                    Delivery Policy
                </p>
                <p class="text-[18px] lg:text-[28px] font-[500] text-[#262149] mt-[19px]">
                    We strive to deliver your edited images within 24 to 48 hours of order confirmation. For urgent
                    orders, we offer an
                    expedited delivery service at an additional cost. Delivery timelines are subject to the terms agreed
                    upon during the
                    purchase.
                </p>
            </div>
            <!-- ------- -->
            <div>
                <p class="text-[28px] lg:text-[42px] lg:leading-[54px] text-[#262149] font-bold">
                    Copyright
                </p>
                <p class="text-[18px] lg:text-[28px] font-[500] text-[#262149] mt-[19px]">
                    We respect the intellectual property rights of others and expect our users to do the same. If you
                    believe that
                    copyrighted material has been used on our website without permission, please contact us at
                    omnicclipper.com with your
                    claim and supporting evidence.
                </p>
            </div>
        </div>
    </main>

{% endblock main %}