{% extends 'base.html' %}
{% load static %}
{% block main %}
    <main class="max-w-[1510px] mx-auto">
        <div
            class="px-4 sm:px-8 md:px-12 lg:px-20 xl:px-24 14i:px-44 15i:px-[214px] py-4 sm:py-8 lg:py-20 15i:py-[110px] space-y-8 md:space-y-12 15i:space-y-20">
            <!-- ------ -->
            <div>
                <p class="text-[32px] lg:text-[56px] lg:leading-[67px] text-[#262149] font-bold">
                    Privacy Policy of Omnicclipper
                </p>
            </div>
            <!-- ------- -->
            <div>
                <p class="text-[28px] lg:text-[42px] lg:leading-[54px] text-[#262149] font-bold">
                    1. Introduction
                </p>
                <p class="text-[18px] lg:text-[28px] font-[500] text-[#262149] mt-[19px]">
                    At Omnicclipper ("we," "us," or "our"), we are dedicated to protecting the privacy of our users.
                    This Privacy Policy
                    explains how we collect, use, and share information about you when you use our website and services.
                    By using our
                    services or visiting our website, you agree to the collection and use of your information as
                    described in this policy.
                </p>
            </div>
            <!-- ------- -->
            <div>
                <p class="text-[28px] lg:text-[42px] lg:leading-[54px] text-[#262149] font-bold">
                    2. Scope of this Policy
                </p>
                <p class="text-[18px] lg:text-[28px] font-[500] text-[#262149] mt-[19px]">
                    This Privacy Policy applies to all personal data we collect from you when you use our services or
                    visit our website. It
                    covers how we handle your data and ensures that your personal information is used responsibly.
                </p>
            </div>
            <!-- ------- -->
            <div>
                <p class="text-[28px] lg:text-[42px] lg:leading-[54px] text-[#262149] font-bold">
                    3. Information We Collect
                </p>
                <div class="text-[18px] lg:text-[28px] font-[500] text-[#262149] mt-[19px]">
                    We collect both personal and non-personal information from you, which may include:
                    <ul class="list-disc pl-10">
                        <li>
                            Personal Information: Name, email address, postal address, phone number, payment
                            information,
                            and other details
                            necessary for our services.
                        </li>
                        <li>
                            Non-Personal Information: Device information, IP address, browser type, and other technical
                            data.
                        </li>
                    </ul>
                </div>
            </div>
            <!-- ------- -->
            <div>
                <p class="text-[28px] lg:text-[42px] lg:leading-[54px] text-[#262149] font-bold">
                    4. How We Use Your Information
                </p>
                <div class="text-[18px] lg:text-[28px] font-[500] text-[#262149] mt-[19px]">
                    We use your information for the following purposes:
                    <ul class="list-disc pl-10">
                        <li>
                            To Provide Services: We use your data to deliver our image editing services to you, process
                            your
                            payments, and
                            communicate with you about your orders.
                        </li>
                        <li>
                            To Improve Our Services: We analyze the information we collect to enhance the quality of our
                            website and services.
                        </li>
                        <li>
                            For Marketing Purposes: With your consent, we may use your information to send you
                            promotional
                            materials about our
                            services.
                        </li>
                    </ul>
                </div>
            </div>
            <!-- ------- -->
            <div>
                <p class="text-[28px] lg:text-[42px] lg:leading-[54px] text-[#262149] font-bold">
                    5. How We Share Your Information
                </p>
                <div class="text-[18px] lg:text-[28px] font-[500] text-[#262149] mt-[19px]">
                    We may share your information in the following ways:
                    <ul class="list-disc pl-10 py-10">
                        <li>
                            With Our Team: Our employees and contractors may need access to your data to provide you
                            with
                            our services.
                        </li>
                        <li>
                            With Service Providers: We may share your information with third-party service providers who
                            assist us in operating our
                            business, such as payment processors or web hosting services.
                        </li>
                        <li>
                            Legal Obligations: We may disclose your information if required by law or to protect our
                            rights
                            or the rights of others.
                        </li>
                    </ul>
                    We will never sell or rent your information to third parties for their marketing purposes.
                </div>
            </div>
            <!-- ------- -->
            <div>
                <p class="text-[28px] lg:text-[42px] lg:leading-[54px] text-[#262149] font-bold">
                    6. Third-Party Websites
                </p>
                <p class="text-[18px] lg:text-[28px] font-[500] text-[#262149] mt-[19px]">
                    Our website may contain links to third-party websites. We are not responsible for the privacy
                    practices or content of
                    these websites. We recommend that you review their privacy policies before providing any personal
                    information.
                </p>
            </div>
            <!-- ------- -->
            <div>
                <p class="text-[28px] lg:text-[42px] lg:leading-[54px] text-[#262149] font-bold">
                    7. Third-Party Services
                </p>
                <p class="text-[18px] lg:text-[28px] font-[500] text-[#262149] mt-[19px]">
                    We use third-party services to help us manage payments, send emails, and analyze website traffic.
                    These services may
                    collect and use your personal information according to their privacy policies.
                </p>
            </div>
            <!-- ------- -->
            <div>
                <p class="text-[28px] lg:text-[42px] lg:leading-[54px] text-[#262149] font-bold">
                    8. Your Rights
                </p>
                <div class="text-[18px] lg:text-[28px] font-[500] text-[#262149] mt-[19px]">
                    You have the following rights regarding your personal information:
                    <ul class="list-disc pl-10">
                        <li>
                            Access: You can request access to the personal data we hold about you.
                        </li>
                        <li>
                            Update: You can ask us to correct or update your personal information if it is inaccurate or
                            incomplete.
                        </li>
                        <li>
                            Delete: You can request that we delete your personal information.
                        </li>
                        <li>
                            Object: You can object to the processing of your data for specific purposes, such as
                            marketing.
                        </li>
                        <li>
                            Restrict Processing: You can ask us to limit how we use your information.
                        </li>
                    </ul>
                    To exercise these rights, please contact us at <a href="#"
                        class="text-[#5A4EAE]">omnicclipper@gmail.com</a>
                </div>
            </div>
            <!-- ------- -->
            <div>
                <p class="text-[28px] lg:text-[42px] lg:leading-[54px] text-[#262149] font-bold">
                    9. Data Protection
                </p>
                <p class="text-[18px] lg:text-[28px] font-[500] text-[#262149] mt-[19px]">
                    Omnicclipper takes the security and confidentiality of your images seriously. We use secure servers
                    and file transfer
                    protocols to ensure your data remains protected at all times
                </p>
            </div>
            <!-- ------- -->
            <div>
                <p class="text-[28px] lg:text-[42px] lg:leading-[54px] text-[#262149] font-bold">
                    10. Changes to this Privacy Policy
                </p>
                <p class="text-[18px] lg:text-[28px] font-[500] text-[#262149] mt-[19px]">
                    We may update this Privacy Policy from time to time. We encourage you to review this policy
                    regularly to stay informed
                    about how we protect your information. If we make any significant changes, we will notify you by
                    email or by posting a
                    notice on our website.
                </p>
            </div>
            <!-- ------- -->
            <div>
                <p class="text-[28px] lg:text-[42px] lg:leading-[54px] text-[#262149] font-bold">
                    11. Changes of Business Ownership and Control
                </p>
                <p class="text-[18px] lg:text-[28px] font-[500] text-[#262149] mt-[19px]">
                    If Omnicclipper is sold or merged with another company, your personal data may be transferred to the
                    new owners.
                </p>
            </div>
            <!-- ------- -->
            <div>
                <p class="text-[28px] lg:text-[42px] lg:leading-[54px] text-[#262149] font-bold">
                    12. Contact Us
                </p>
                <p class="text-[18px] lg:text-[28px] font-[500] text-[#262149] mt-[19px]">
                    If you have any questions or concerns about this Privacy Policy or how we handle your personal
                    information, please
                    contact us at omnicclipper@gmail.com
                </p>
            </div>
        </div>
    </main>

{% endblock main %}