{% extends 'base.html' %}
{% load static %}
{% block main %}
    <main class="max-w-[1510px] mx-auto">
        <div class="w-full flex flex-col items-center gap-4 md:gap-[30px] px-4 py-12 lg:py-20 15i:py-[132px]">
            <img src="{% static 'assets/error.png' %}" alt="error">
            <a href="{% url 'home' %}" class="w-full sm:w-fit">
                <button class="w-full sm:w-fit py-4 px-8 rounded-[10px] text-[#FEFEFE] bg-[#5A4EAE]">
                    Back To Home
                </button>
            </a>
        </div>
    </main>
{% endblock main %}
